.button {
  width: 84px;
  height: 84px;
  border-radius: 28px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  display: grid;
  place-items: center;
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.35);
}

.icon {
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><polygon points='6,5 17,12 6,19'/><rect x='18' y='5' width='2' height='14'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
