.promptImageWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.promptImage {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: transparent;
  box-shadow: none;
}

.promptImageContain {
  object-fit: contain;
}

.promptImageCover {
  object-fit: cover;
}

.promptImageFallback {
  filter: grayscale(0.4) brightness(0.8);
}
