# Figma REST API
# Generate token: https://www.figma.com/developers/api#access-tokens

FIGMA_ACCESS_TOKEN=
FIGMA_FILE_KEY=z8NmGr4kz5UO2woLmgkZDC
FIGMA_NODE_ID=0:1
# Optional query params
FIGMA_DEPTH=
FIGMA_VERSION=
